/////// Variables couleurs ///////

// Partie Header
    // Couleur background partie localisation
    $localisation-bg-color:#EAEAEA;
    // Couleur background du header 
    $logo-bg-color:white;
    // Couleur background partie instruction
    $inst-bg-color:white;

// Partie Main index - commun
    // Couleur background de la page index
    $main-bg-color:#F6F6F6;
    // Couleur du texte des numéro partie instruction
    $number-text-color:white;
    // Couleurs lié au bouton Explorer nos restaurants et Commander
    $main-bg-btn-color:#9356DC;
    $second-bg-btn-color:#FF79DA;
    $btn-text-color:white;
    // Couleurs background Restaurant-card
    $restaurant-card-bg:white;
    // Couleurs lié au panneau Nouveau
    $new-bg-color: #99E2D0;
    $new-text-color : #008766;
    // Couleurs page de chargement
    $loader-box:grey;
    $loader-bar-main: #9356DC;
    $loader-bar-second: #FF79DA;
    // Couleurs favorite
    $main-favorite-color:#FF79DA;
    $second-favorite-color:#9356DC;


// Partie Main restaurants
    //Modification du background de la page des menus
    $menu-bg-color:white;
    // Couleur background des cartes de la page des menus
    $menu-card-bg:white;
    // Couleur de la partie souligné en dessous de Entrées, Plats, Desserts
    $underline-color: #99E2D0;
    // Couleur partie Selected des plats
    $selected-color: #99E2D0;

// Partie Footer
    $footer-bg-color: #353535;



/////// Mixins ///////

// Mixin du bouton Commander pour appliquer linear-gradient
@mixin btn-bg-color($color1, $color2){
    background: linear-gradient(161deg, $color1, $color2);
}
// Appliquer flex + centrer hori et verti
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
// Application du style pour les panneau Nouveau
@mixin new-panel{
    position: absolute;
    right: 12px;
    top: 13px;
    z-index: 1;
    color: $new-text-color;
    background-color: $new-bg-color;
    width: 80px;
    height: 29px;
    @include flex-center();
    border-radius: 2px;
}



/////// Reset ///////

*{
    font-family: Roboto;

    h1, h2, h3, p{
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
    p{
        font-size: 1rem;
        font-weight: 500;
    }
    h2{
        font-size: 1.5rem;
        font-weight: bold;
    }
    a{
        color:inherit;
        text-decoration: none;
    }
    body{
        margin: 0;
    }
}

/////// Modification style éléments commun ///////

body{
background-color: $main-bg-color;
}
img{
    object-fit: cover;
    width: 100%;
}
i{
    @include flex-center();
}

//Style bar de chargement //
.loading_page{
    height: 39px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    @include flex-center();
}
.loading_text p{
    width: 250px;
    opacity: 0;
    animation: loading-container 3s, disappear 0.5s 3s;
    color: black;
    text-align: center;
}
.loader{
    width: 250px;
    height: 15px;
    border: 5px solid $loader-box;
    border-radius: 35px;
    opacity: 0;
    animation: loading-container 3s, disappear 0.5s 3s;
}
.loader .loader__bar{
    z-index: 2;
    display: inline-block;
    padding: 3px;
    margin: 3px;
    width: 235px;
    height: 3px;
    background: linear-gradient(-6deg, $loader-bar-main,$loader-bar-second);
    opacity: 0;
    border-radius: 35px;
    transform-origin: left;
    animation: loading 2s 0.5s forwards;
}

// Keyframes pour l'animation //
@keyframes loading{
    0%{
        transform: scaleX(0);
    }

    10%{
        opacity: 0.25;
        transform: scaleX(0.25);
    }

    44%{
        opacity: 0.50;
        transform: scaleX(0.50);
    }

    85%{
        opacity: 0.75;
        transform: scaleX(0.75);
    }

    100%{
        opacity: 1;
        transform: scaleX(1);
    }
}
@keyframes loading-container{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}
@keyframes appear{
    from{
        opacity:0;
    }

    to{
        opacity: 1;
    }
}
@keyframes disappear{
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}
// Style du bouton Explorer nos restaurants et Commander
.btn{
    color: $btn-text-color;
    @include btn-bg-color($second-bg-btn-color, $main-bg-btn-color);
    width: 218px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    border-width: 0;
    padding-block: 0px;
    padding-inline: 0px;
    transition: all 0.5s;
    &:hover{
        opacity: 85%;
        box-shadow: 0px 4px 15px rgb(0 0 0 / 35%)
    }
}
// Style du coeur pour la partie favorite //
.favorite{
    height: 21px;
    // .fa-regular = Coeur non remplie -- .fa-solid = Coeur remplie
    .fa-regular, .fa-solid{
        transform-origin: bottom;
        transition: all 0.5s;
    }
    i{
        @include flex-center();
        width: 24px;
        height: 21px;
    }  
    .fa-solid{
        background: linear-gradient(-6deg, $main-favorite-color,$second-favorite-color);
        // permet d'indiquer la propriété background comme couleur de l'élément plutôt que le fond //
        background-clip: text;
        // Nécessaire pour éviter la superposition de couleur et background //
        color: transparent;
        transform: scale(0);
    }
    .fa-regular{
        position: relative;
        bottom: 20px;
    }
    &:hover{
        > .fa-regular{
            transform: scale(0);
        }

        > .fa-solid{
            transform: scale(1);
        }
    }
}



/////// Header ///////
.header, .header__localisation, .header__logo{
    @include flex-center();
}
.header{
    flex-direction: column;
 
    img{
        width: 162px;
        padding: 15px;

        @media only screen and (min-width: 768px){
            padding: 35px 15px 35px 15px;
            width: 200px;
        }
    }
    .img__menu{
        @media only screen and (min-width: 768px){
            padding: 35px 15px 0px 15px;
        }
    }

    &__logo{
        width: 100%;
        background-color: $logo-bg-color;
    }

    &-shadow{
        box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);

        @media only screen and (min-width: 768px){
            box-shadow: none
        }
    }

    &__localisation{
        z-index: -1;
        width: 100%;
        height: 50px;
        gap: 17px;
        background-color: $localisation-bg-color;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        opacity: 0;
        animation: appear 1s 3.5s forwards;

        @media only screen and (min-width: 768px){
            box-shadow: none
        }
    }
/// Flèche de retour pour revenir à la page d'acceuil /// 
    &__arrow{
        position: absolute;
        left: 23px;
        top: 20px;

        @media only screen and (min-width: 768px){
            top: 40px;
        }
    }

}


/////// Main ///////

//Presentation// 
.presentation{
    @include flex-center();
    flex-direction: column;
    margin-bottom: 57px;
    text-align: center;
    opacity: 0;
    animation: appear 1s 3.5s forwards; 

    @media only screen and (min-width: 768px){
        margin-bottom: 30px;        
    }

        h1{
            width: 73%;
            height: 68px;

            @media only screen and (min-width: 768px){
                height: auto;
                margin-bottom: 23px;
            }
        }
        p{
            width: 84%;
            height: 46px;
            font-weight: 300;

            @media only screen and (min-width: 768px){
                height: auto;
                margin-bottom: 23px;
            }
        }
        .btn{
            margin-top: 27px;

            @media only screen and (min-width: 768px){
                margin-top: 0px;
            }
        }

}
// Instruction // 
.instruction{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 48px 20px 68px 20px;
    background-color: $inst-bg-color;
    opacity: 0;
    animation: appear 1s 3.5s forwards; 

    @media only screen and (min-width: 768px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 48px 20px 68px 20px;
        gap: 0px;
        flex-wrap: wrap;

    }
    @media only screen and (min-width: 1024px){
        padding: 50px 180px;
    }

    h2{
        @media only screen and (min-width: 768px){
            grid-column: 1/4;
        }
    }
    i, p{
        @include flex-center();
    }
    i{
        margin-left: 34px;
    }
    .fa-store{
        color: $main-bg-btn-color;
    }
    .number{
        min-height: 24px;
        min-width: 24px;
        background-color: $main-bg-btn-color;
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
        color: $number-text-color;
        z-index: 1;
    }

    &__card{
        display: flex;
        align-items: center;
        height: 72px;
        z-index: 2;

        &--content{
            display: flex;
            position: relative;
            right: 11px;
            gap: 27px;
            background-color: $main-bg-color;
            height: 78px;
            width: 322px;
            border-radius: 20px;
            box-shadow: 0px 4px 15px rgb(0, 0, 0, 15%);

            @media only screen and (min-width: 768px){
                width: auto;
            }

            p{
                @media only screen and (min-width: 768px){
                    min-width: 100px;
                    padding-right: 50px;
                } 
            }
        }
    }
}
// Restaurants Card //
.restaurants{
    padding: 0px 18px;
    display: flex;
    flex-direction: column;
    gap:18px;
    margin-bottom: 66px;
    opacity: 0;
    animation: appear 1s 3.5s forwards; 

    @media only screen and (min-width: 768px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 1fr 1fr;
        column-gap: 60px;
    }
    @media only screen and (min-width: 1024px){
        padding: 0px 180px;
    }

    h2{
        margin: 54px 0px 8px 0px;

        @media only screen and (min-width: 768px){
            margin: 30px 0px 8px 0px;
            grid-column: 1/3;
        }
    }
    h3{
        font-size: 1.125rem;
        margin-bottom: 5px;
    }
    span{
        @include new-panel();
        font-size: 1.063rem;
        font-weight: 500;

    }
    img{
        height: 174px;
        object-position: 20% 61%;
        border-radius: 15px 15px 0px 0px;
    }

    &__card{   
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;

        &-content{
            padding: 0px 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 77px;
            background-color: $restaurant-card-bg;
            border-radius: 0px 0px 15px 15px;
            }

        &-text{
            padding-left: 13px;
        }
    }
}

/////// Restaurants pages ///////

// Main Menu //
.main_restaurant{
    background-color: $menu-bg-color;
}
.menu{
    background-color: $main-bg-color;
    padding: 32px 13px 0px 13px;
    border-radius: 40px 40px 0px 0px;

    @media only screen and (min-width: 768px){
        margin: 0px 170px ;
        position: relative;
        z-index: 1;
    }

    &-bg-img{
        height: 275px;

        @media only screen and (min-width: 768px){
            height: 380px;
            position: relative;
            top: 35px;
        }
    }

    h1{
        font-family: Shrikhand;
        font-size: 1.75rem;
    }
    h2{
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 3px;
    }
    .menu__restaurant-title, .menu__starters, .menu__main, .menu__desserts{
        margin-bottom: 40px;

        @media only screen and (min-width: 1024px){
            padding:0px 150px;
        }
    }

    &__restaurant-title{
        display: flex;
        align-items: center;
        gap: 30px;

        @media only screen and (min-width: 768px){
            justify-content: center;
        }
    }

    &__underline{
        width: 40px;
        height: 3px;
        background: $underline-color;
    }

    &__cards{
        height: 39px;
        padding: 15px;
        border-radius: 15px;
        background-color: $menu-card-bg;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        box-shadow: 0 4px 15px rgb(0 0 0 / 10%);
        margin-top: 12px;

        h3{
            font-size: 1.125rem;
        }
        p{
            font-size: 0.938rem;
            font-weight: 300;
        }
        .card__price{
            font-size: 0.938rem;
            font-weight: bold;
        }
        .menu__cards--text{
            //Element obligatoire afin de permettre au texte de s'éclipser après si taille trop petite//
            overflow: hidden;
            white-space: nowrap;    

            p, h3{
                //Element obligatoire afin de permettre au texte de s'éclipser après si taille trop petite//
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &--selected{
            width: 0px;
            height: 69px;
            position: relative;
            top: 15px;
            left: 15px;
            background-color: $selected-color;
            border-radius: 0px 15px 15px 0px;
            @include flex-center();
            visibility: hidden;
            opacity: 0;
            transition: all 0.25s;
        }
        .menu__cards--price-and-selected{
            display: flex;
        }
        .menu__cards--price{
            display: flex;
            align-items: end;
        }
        .fa-check{
            display: flex;
            width: 25px;
            height: 25px;
            border-radius: 50% 50% 50% 50%;
            background-color: $menu-card-bg;
            color: $selected-color;
        }
        &:hover{
            gap: 15px;

            .menu__cards--selected{
                width: 50px;
                visibility: visible; 
                opacity: 1;        
            }
            i{
                visibility: visible;
                width: 25px;
            }
            i::before{
                width: auto;
            }
        }
    }

    &__btn{
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }

}

/// Animation menu /// 
.menu__starters{
    opacity: 0;
    animation: appear 0.5s 0.5s forwards;
}

.menu__main{
    opacity: 0;
    animation: appear 0.5s 1s forwards;
}

.menu__desserts{
    opacity: 0;
    animation: appear 0.5s 1.5s forwards;
}

.menu__btn{
    opacity: 0;
    animation: appear 0.5s 1.5s forwards
}



// Footer //
.footer__index{
opacity: 0;
animation: appear 1s 3.5s forwards; 
}
footer{
    background-color: $footer-bg-color;
    color: white;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 768px){
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;
        padding: 40px 25px 15px 25px;
        gap: 30px;
    }

    p{

        margin-bottom: 16px;
        font-family: Shrikhand;
        font-size: 1.125rem;

        @media only screen and (min-width: 768px){
            margin: 0px
        }
    }
    ul{
        font-size: 1rem;
        list-style-type: none;
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-inline-start: 0px;
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 768px){
            flex-direction: row;
            gap: 15px;
        }
    }
    li{
        margin-bottom: 7px;

        i{
            width: 15px;
            margin-right: 10px;
        }
    }
}